{% load bootstrap3 %}
<div class="comments_container">
    {% for comment in post.comment_set.all %}
    <div class="comment_container">
    
        <div class="comment_content pull-left">
            {{comment.content}}
        </div>

        <form method="POST" action="{% url 'blog:delete_comment' comment.pk %}" class="pull-left">
        {% csrf_token %}
        {% bootstrap_button content="" button_type="reset" button_class="close" icon="remove" %}
        </form>
        <p class="clearfix"></p>
        <p><span>작성일시</span>{{comment.created_at}}</p>
    
    </div>
    
    {% empty %}
        <p>댓글이 없습니다</p>
    {% endfor %}
</div>

<form method="POST" action="{% url 'blog:create_comment' post.pk %}">
    {% csrf_token %}
    <p>
        <input type="text" name="comment" value="" class="form_control" placeholder="댓글을 입력하세요..."/>
        <input type="submit" value="submit" />
    </p>
</form>